.Profile-card{
    border : 1px solid black;
    padding:16px;
    border-radius: 8px;
    width: 300px;
    margin : 16px auto;
    background-color: #f9f9f9;

}

.Profile-card h1 {
    color: #5135d1;
  }
  
.Profile-card p {
    color: #555;
  }